body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
#logo{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    height: 100px ;
    width: 100px;
    left: 30px;
    
}

header {
    background-color: #f96a6f;
    padding: 20px;
    color: white;
    text-align: center;
}

header input, header button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

header button {
    background-color: white;
    color: #ff5a5f;
    cursor: pointer;
}

main {
    padding: 20px;
}

.property {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.property img {
    width: 25%;
    border-radius: 10px;
    position: absolute;
    height: 35%;
    right: 50px;
    

}

.property-details {
    margin-top: 10px;
    height: 200px;

}


.property-details h2 {
    margin: 0;
    
}

.property-details p {
    margin: 5px 0;
}

.like-button, .book-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.like-button {
    background-color:transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 1050px;
    
    

}

.like-button img {
    width: 24px;
    height: 24px;
}


.book-button {
    background-color: #00a699;
    color: white;
}
